extends layout

block content
    h1 Books
    p
    a.button(href='/books/new') Create New Book
    table
        thead
            tr
                th Title
                th Author
                th Genre
                th Year
    each book in books
        tbody
            tr
                td
                    a(href='book_detail.html') #{book.title}
                td= book.author
                td= book.genre
                td= book.year
            