extends layout

block content
    h1= error.status
    p Sorry! There was an unexpected error on the server, we could not find the page you were searching for. Please go to the main page and try again.
        a.button(href='/') Main Page